apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
#- https://raw.githubusercontent.com/reggie-k/argo-cd/fix-csa-migration/manifests/install.yaml
- https://raw.githubusercontent.com/argoproj/argo-cd/v3.2.6/manifests/install.yaml